* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                                     /* header */

.header {
    background-image: url(./mountain.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100vh;
    
}

.header1 {
    /* border: 1px solid red; */
    height: 15vh;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i,h4 {
    font-size: 30px;
}

.header2 {
    height: 85vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header2 h1 {
    /* border: 1px solid red; */
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}

.header2 h2 {
    /* border: 1px solid red; */
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.header2 button {
    margin-top: 30px;
    padding: 10px 30px;
    background: none;
    color: white;
    font-family: sans-serif;
    border: 1px solid white;
}

a i {
    color: black;
}

                                     /* conteiner */

.conteiner {
    height: 70vh;
    
}

.conteiner {
    width: 100%;
    height: 70vh;
    background-color: rgb(221, 229, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.conteiner2 {
    padding: 30px 15px;
    height: 70vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    /* border: 1px solid red; */
}


.conteiner2 h1 {
    text-transform: uppercase;
    padding-bottom: 30px;
    color: black;
}

.conteiner2 hr {
    margin-bottom: 50px;
    /* padding-bottom: 50px; */
    height: 5px;
    width: 30px;
    background-color: green;
    
}

.conteiner2 img {
    width: 100px;
    padding: 20px 0;
    margin-top: 10px;
}

p {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

                                     /* wedo */

.whatwedo {
    height: 70vh;
    /* border: 1px solid red; */
}



.wedo h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.wedo h1 {
    margin-top: 30px;
}

.whatwedo hr {
    width: 35px;
    height: 5px;
    background-color: teal;
    margin: 0 auto;
    margin-top: 15px;
}
.blocked {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    padding-bottom: 100px;
}

.block {
    /* border: 1px solid  red; */
    width: 300px;
    height: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10px; */
}

.block hr {
    width: 35px;
    height: 2px;
    background-color: grey;
    margin: 15px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block h2 {
    padding-top: 40px;
    text-transform: uppercase;
    font-size: 20px;
}

.img-responsive {
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    background-image: url(./computer\ and\ coffe.jpg);
    width: 50%;
    height: 600px;
    background-size: cover;
    /* border: 1px solid red; */
    
}

.responsive {
    width: 50%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsive h1 {
    /* border: 1px solid red; */
    width: 60%;
    height: 80px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.responsive hr {
    width: 50px;
    height: 5px;
    background-color: teal;
    margin-bottom: 50px;
}

.responsive p {
    /* border: 1px solid red; */
    width: 60%;
    height: 170px;
    line-height: 35px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 2.5%;
    margin: 30px auto;
}

ul li {
    list-style: none;
    background-color: aqua;
    border-radius: 50%;
}

ul li:nth-child(1) {
    width: 10px;
    height: 10px;
}

ul li:nth-child(2) {
    width: 7px;
    height: 7px;
}

.user {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./developer\ stack.jpg);
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user h1 {
    /* border: 1px solid red; */
    width: 60%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 33px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.user p {
    /* border: 1px solid red; */
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    color: white;
    margin: 10px;
    margin-bottom: 25px;
}

.ourworkstations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.ourworkstations h1 {
    margin-top: 90px;
    font-size: 30px;
}

.ourworkstations hr {
    width: 35px;
    height: 5px;
    background-color: green;
    margin: 20px;
}

.works {
    text-transform: uppercase;
    margin-top: -100px;
    /* margin-bottom: 20px; */
}

.cards {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
}

.card p {
    font-size: 20px;
    line-height: 35px;
}

.card hr {
    width: 35px;
    height: 3px;
    background-color: green;
    margin: 20px;
}

.ourworkstations ul {
    /* border: 1px solid red; */
    width: 1.5%;
}

.watch {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* font-weight: 80%; */
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./wave.jpg);
    background-size: cover;
    background-position: 50%;
}

.watchshowreel {
    text-align: center;
    font-weight: normal;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: sans-serif;
}

.ourteam {
    /* border: 1px solid red; */
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourteam hr {
    width: 35px;
    height: 5px;
    background-color: green;
    margin: 20px;
    margin-bottom: 35px;
}

.team {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.blocks {
    /* border: 1px solid red; */
    width: 99%;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialnetworks {
    width: 90px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 15px;
    
}

.socialnetwork {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    background-color: turquoise;
    width: 40px;
    height: 40px;
    
}

.facebook {
    /* width: 30; */
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    width: 100%;
    height: 250px;
    background-image: url(./ocean.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}
.letter input {
    background-color: transparent;
    border: 1px solid white;
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

input::placeholder {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.letter text {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-size: 20px; */
}

button {
    background-color: white;
    /* font-weight: bold; */
    font-size: 30px;
    border: none;
    cursor: pointer;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}

.dropusaline {
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop {
    /* border: 1px solid red; */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.dropusaline hr {
    width: 35px;
    height: 5px;
    background-color: green;
    margin: 30px;
}

.dropusaline .cards {
    
    width: 95%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropusaline .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.dropusaline .card {
    /* border: 1px solid red; */
    height: 250px;
    background-color: whitesmoke;
}

.dropusaline .card hr {
    width: 35px;
    height: 3px;
    background-color: green;
    margin: 20px;
}

.dropusaline .socialnetworks {
    width: 140px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 15px;
    
}

.dropusaline .socialnetwork {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: turquoise;
    width: 40px;
    height: 40px;
}

.dropusaline .facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropusaline .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropusaline .ok {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 33, 33);
}

.hand p {
    color: white;
    font-family: sans-serif;
}


